<footer role="contentinfo">
  <p>This is a training excercise by artqmo from 2022.&nbsp; Find me on &nbsp; 
    <a class="social-media__link"
      href="https://twitter.com/"
      target="_blank">
      <svg-icon
          src="assets/sprite.svg#twitter"
          width="16px"
          viewBox="0 0 32 32"
          aria-hidden="true"
          focusable="false"
      ></svg-icon>

      <span class="sr-only">Twitter</span>
    </a>
  </p>
</footer>
