<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="assets/icons/favicon.svg" />
    <title>{{ title or metadata.title }}</title>
    {% include "../components/metadata.njk" %}
    <script type="module" src="assets/svg-icon-sprite.js"></script>
    <link rel="stylesheet" href="{{ 'assets/theme.css' | url }}" />
  </head>

  <body>
    {% include "../components/header.njk" %}
    <main role="main">
      {{ content | safe }}
    </main>
    {% include "../components/footer.njk" %}
  </body>
</html>
