
$main-font: "Arial", sans-serif;
$accent-font: "Georgia", serif;

/* Colours */
$light-shade: #111111;
$dark-shade: #CCCCCC;
$darkest-shade: darken($dark-shade, 17%);
$accent-shade:#EEEEEE;

/*========================================*/

$base-clr: $darkest-shade;
$bg-clr: lighten($light-shade, 7%);
$link-clr: $darkest-shade;
$link-hvr-clr: $accent-shade;
$cat-clr: $darkest-shade;


